.wo, .ba,.cla{	background-color:red;}
.eh, .so{	background-color:magenta;}
.fr,.san,.ze{	background-color:blue;}
.sod,.ste{background-color:darkorange;}
.sc, .pa{background-color:deepskyblue;}
.ke,.co,.wa,.sm,.ki,.gü,.he,.stk{background-color:blueviolet;}
.zw,.cle, .fun,.rop,.pm,.lo{background-color:lime;}
.hä, .ne{background-color:gold;}
.lb,.gre{background-color:cadetblue;}
.m{background-color:transparent;}